<div class="login-form">
    <mat-card>
        <mat-card-content>
            <h1>LOGIN</h1>
            <mat-form-field class="full-width-input">
                <input type="text" matInput placeholder="Username" required/>
            </mat-form-field>
            <mat-form-field class="full-width-input separator">
                <input type="password" matInput placeholder="Password" required/>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Login</button>
        </mat-card-content>
    </mat-card>
</div>
